.content {
  padding: 1rem 2rem;
  background-color: #ffffff;
}

.products-content {
  background-color: #f5f5f5;
  align-items: center;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.products-text {
  flex-grow: 1;
}

.products-text h1{
  font-size: 2.4rem;
    color: #333;
    margin: 0;
    font-weight: 700;
}
.products-text p{
  font-size: 1.2rem;
    color: #666;
    margin-top: 0.5rem;
}

.search-bar {
  text-align: center;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
}

.search-bar {
  text-align: center;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
}
.search-bar {
  text-align: center;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
}

.search-bar input {
  width: 100%; /* Expands the input across the available width */
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  max-width: 900px; /* Optional: set a max-width to limit how wide it can get */
}
.products-content {
  padding: 2rem 1rem 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1rem;
  text-align: center;

  @media (max-width: 400px) {
    grid-template-columns: 1fr;
  }
}

.products {
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9),
    inset 5px 5px 20px rgba(0, 0, 0, 0.3),
    inset -5px -5px 20px rgba(0, 0, 0, 0.3);

  img {
    width: 50%;
    max-width: 200px;
  }

  .rating {
    color: sandybrown;
    font-size: 0.8rem;
    letter-spacing: 1.2px;
  }

  .title {
    font-size: 1.1rem;
    margin: 0.6rem 0;
  }

  .price {
    font-weight: bold;
  }

  .btn {
    color: #fff;
    background-color: #e00122;
    margin-top: 0.5rem;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    font-size: 1rem;
    transition: color 0.3s ease;

    &:hover {
      color: #eee;
    }

    &.added {
      background-color: green;
    }
  }

  .details {
    margin-top: 0.5rem;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    background-color: #e00122;
    color: #ffffff;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  .details:hover {
    background-color: #c3001d;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  }
}

.provider-info {
  display: flex;
  gap: 1rem; 
  margin-top: 1rem; 
}

.provider-profile-img {
  width: 70px; 
  height: 70px;
  border-radius: 50%; 
}

.provider-details {
  flex: 0.8; 
  text-align: left;
  display: flex;
  flex-direction: column;
}

.provider-name {
  font-weight: bold;
  color: #333; 
  text-decoration: none;
}

.provider-name:hover {
  text-decoration: underline; 
}

.provider-description {
  color: #555; 
}
