.categories {
    display: flex;
    justify-content: space-between;
    padding: 5rem 5rem;
    background-color: #f3eadf;
    color: #000000;
    opacity: 75%;
    font-size: 18px;
  }
  
  .categories ul {
    list-style: none;
    display: flex;
  }
  
  .categories ul li {
    padding-left: 5rem;
  }
  
  .categories a {
    text-decoration: none;
    color: #ffffff;
  }
  .categories a:hover {
    text-decoration: underline;
  }