.welcome-content {
  background-color: #ffffff;
}
.welcome-content img {
  display: flex;
}

.categories {
  padding: 1rem 5rem 1rem 5rem;
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
  list-style: none;
}

.cat-title {
  height: 3rem;
  padding-top: 1.5rem;
  background-color: #e00122;
  opacity: 90%;
  color: #ffffff;
}

.categories ul {
  display: flex;
  padding: 0rem;
}

.categories li {
  justify-content: center;
  display: flex;
  width: 100%;
  padding: 100px 0px 100px 0px;
  
  background-color: rgb(212, 220, 220);
}

.categories a {
  text-align: center;
  text-decoration: none;
  padding: 0 0.25rem;
  border-radius: 15px;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.categories a:hover {
  border-radius: 20px;
  box-shadow: inset 100px 0 0 0 #e00122;
  opacity: 75%;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.reviews {
  background-color: #ffffff;
  padding: 10rem 10rem;
}

.review-cards {
  font-size: 24px;
  overflow-x: auto;
}

.review-cards table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.review-cards th {
  border: 5px solid rgb(255, 255, 255);
  background-color: #e00122;
  color: #ffffff;
}

.review-content td {
  font-size: 16pt;
  height: 200px;
}

.faq {
  background-color: rgb(255, 255, 255);
}

.faq-cards {
  font-size: 24px;
  overflow-x: auto;
  display: inline-block;
  width: 100%;
  height: 30rem;
  background-color: #ffe0da;
  opacity: 75%;
}

.faq-cards div {
  height: 100px;
}
