#cart {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.cart_content {
    background-color: #111319;
    position: absolute;
    top: 0;
    right: 0;
    max-width: 600px;
    width: 100%;
    height: 100%;
}

.cart_head {
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);

    .close_btn {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #111319;
        padding: 0.4rem 0.6rem;
        cursor: pointer;
        opacity: 0.8;
        transition: opacity 0.2s ease;

        &:hover {
            opacity: 1;
        }

        span {
            font-size: 2.2rem;
            line-height: 0.8;
        }
    }

}

.cart_body {
    padding: 1.8rem 1.5rem;
    max-height: 85%;
    overflow-x: hidden;
    overflow-y: auto;
}

.cart_items {
    display: grid;
    grid-template-columns: 0.5fr 0.7fr 0.2fr 0.1fr;
    align-items: center;
    gap: 2.2rem;
    margin-bottom: 1.5rem;
}

.cart_items_info {
    .price {
        font-weight: 600;
        margin-top: 0.5rem;
    }
}

.cart_items_quantity {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
    background-color: #191c26;
    padding: 0.3rem 0;

    span {
        font-size: 1.2rem;
        background-color: #13131f;
        line-height: 0.5;
        padding: 0.4rem;
        user-select: none;
        cursor: pointer;

        &:hover {
            color: #ddd;
        }
    }
}

.cart_items_delete {
    font-size: 2rem;
    line-height: 0.5;
    text-align: center;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s ease;

    &:hover {
        opacity: 1;
    }
}

.cart_foot {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.5);

    h3 {
        b {
            margin-left: 0.6rem;
            font-size: 1.4rem;
        }
    }

    .checkout_btn {
        background-color: #6c757d;
        color: #000;
        font-size: 1rem;
        padding: 0.4rem 0.8rem;

        &[disabled] {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}