.welcome-content {
  background-color: #f5f5f5;
  display: flex;  
  align-items: center;
  padding: 1rem 2rem;
  border-radius: .5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
.welcome-content img {
  margin-right: 1rem;
  height: auto;
  max-height: 200px;
  width: auto;
}

.welcome-text {
 flex-grow: 1;
  width: auto;
}

.welcome-text h1 {
  font-size: 1.8rem;
  color: #333;
  margin: 0;
  font-weight: 600;
}

.listing-form-container {
  background-color: #ffffff;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.listing-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.submit-button {
  padding: .75rem;
  background-color: #e00122;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #c0001b;
}
.availability-selector {
  margin: 15px 0;
  overflow-x: auto;
}

.availability-selector table {
  width: 100%;
  border-collapse: collapse;
}

.availability-selector th,
.availability-selector td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.availability-selector th {
  background-color: #f4f4f4;
}

.availability-selector input[type="checkbox"] {
  transform: scale(1.2);
}